@font-face {
    font-weight: 500; /* Соответствует значению medium */
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Medium.ttf");
  }
  
@font-face {
    font-weight: 700; /* Соответствует значению bold */
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-weight: 400;
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Regular.ttf");
}

body {
    font-family: 'Montserrat';
    line-height: 1.5;
    background-color: #fefefe;
    margin: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1364px;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
}

.logo {
    padding: 16px 0 0 16px;
}

nav {
    padding: 34px 34px 0 0;
    width: 402px;
}

ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-left: 0;
}

li {
    font-weight: 500;
    font-size: 18px;
    list-style-type: none;
    color: #0047FF;
}

section {
    display: flex;
    margin-bottom: 64px;
}

.cat-picture {
    margin-right: 90px;
}

h1 {
    margin: 0 0 8px 0;
    color: #101010;
    font-weight: 700;
    font-size: 36px;
}

h2 {
    margin: 0 0 24px 0;
    font-weight: 700;
    font-size: 32;
}

.text-info h2 {
    color: #0047FF;
    font-weight: 500;
    font-size: 24;
}

p {
    margin: 0;
    width: 666px;
    font-weight: 400;
    font: 21px;
}

.first-paragraph {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #0047FF;
}